# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
pytest_cache/
test-results/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# IDEs
.idea/
.spyproject/
*.swp

# MyPy / Type checking
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre / Pytype
.pyre/
.pytype/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# Local configs
.env
.env.*
*.local

# ML experiment runs
runs/
scratch/outcmaes/